@model IEnumerable<DepartmentDto>
@{
    ViewData["Title"] = "Departments";
}

<h1>Departments</h1>
<br />
<br />

<a asp-controller="Department" asp-action="Create" class="btn btn-primary">Create New Department</a>
<br />

@if (Model != null && Model.Any())
{
    <table class="table table-striped table-hover mt-4">
        <thead class="text-center">
            <tr>
                <th>@Html.DisplayNameFor(D=>D.Code)</th>
                <th>@Html.DisplayNameFor(D => D.Name)</th>
                <th>@Html.DisplayNameFor(D => D.CreationDate)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (var dept in Model)
            {
                <tr>
                    <td>@dept.Code</td>
                    <td>@dept.Name</td>
                    <td>@dept.CreationDate</td>
                    <td>
                        <a asp-controller="Department" asp-action="Details" asp-route-id="@dept.Id" class="btn btn-warning">
                            <i class="fas fa-eye"></i> Details
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Department" asp-action="Edit" asp-route-id="@dept.Id" class="btn btn-success">
                            <i class="fas fa-edit"></i> Update
                        </a>
                    </td>
                    <td>
                        @*   <a asp-controller="Department" asp-action="Delete" asp-route-id="@dept.Id" class="btn btn-danger">
                            <i class="fas fa-trash"></i>  Delete
                            </a> *@
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#_DeleteDepartment_@dept.Id">
                            <i class="fas fa-trash"></i> Delete
                        </button>
                    </td>
                </tr>
                <div class="modal fade" id="_DeleteDepartment_@dept.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel_@dept.Id" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel_@dept.Id">Delete Department</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h4 class="modal-title">Are you sure you want to delete the @dept.Name department?</h4>
                            </div>
                            <div class="modal-footer">
                                <form asp-action="Delete" asp-route-DeptId="@dept.Id" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="mt-4">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <input type="submit" value="Delete" class="btn btn-danger" />
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info mt-3">
        <h3>There is no Departments :((</h3>
    </div>
}
